
{{ define "global_header" }}

{{ end }}

{{ define "main" }}

<div class="container">

<article>
{{- range (.Paginator).Pages }}
    		<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>

				<p>{{ .Summary }}</p>
			  {{ if .Truncated }}
				  <div class="read-more-link">
				    <a href="{{ .RelPermalink }}">Read More…</a>
				  </div>
			  {{end}}
{{end}}
</article>

{{ template "_internal/pagination.html" . }}

</div>

{{ end }}

{{ define "global_footer" }}
  {{ partial "footer.html" . }}
{{ end }}


