section {
	margin: 0;
	padding: 1em;
}

@media only screen and (min-device-width:320px) and (max-device-width : 768px) {
	section {
 		margin:  0;
 		padding: 0.1em 0.1em;
 	}	

	h4 { font-size: 6.5vmin !important; }
	h5 { font-size: 5.5vmin !important; }


	.icon-block .material-icons {
		font-size: 2.2em !important;
	}

}

h1#hero {
	padding: 1.5em 0 0 0;
}

section.home {
	min-height: 50vh;	
}

.nav-wrapper > .brand-logo {
font-size: 1.4em;
letter-spacing: -0.05em;
}

h1 { font-size: 2.7rem !important; }
h2 { font-size: 2.5rem !important; }
h3 { font-size: 2.3rem !important; }
h4 { font-size: 2.1rem !important; }
h5 { font-size: 1.9rem !important; }
h6 { font-size: 1.5rem !important; }


.icon-block {
  padding: 0 0.5em;
}
.icon-block .material-icons {
	font-size: inherit;
}
