
body {
  /* padding: 20px; */
  background: orange no-repeat center center / 32px 32px;
  /* color: #dedede; */
  text-shadow: 0 1px 1px rgba(#000, .5);
  margin: 0;
  padding: 0;
}

.fc-r2 {
  font-family: Roboto, sans-serif;
  font-size: 2.7em;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.64em;
  background-color: #fff;
  margin-top: 1em;
  padding: 0.5em 0.5em;
}